<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://tmp-titan.vx-cdn.com/file-64951b03a19b9-64951b0ecb860/%E5%BE%AE%E4%BF%A12_8.0.33_1687479296.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>com.tencent.xin.1</string>
                     <key>bundle-version</key>
                    <string>8.0.33</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信2</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
